<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="member"> 
	<insert id="insertDB" parameterType="memberdto">
		INSERT INTO MEMBER210521(MID, MPASSWORD, MNAME, MEMAIL) VALUES(#{mId}, #{mPassword}, #{mName}, #{mEmail})
	</insert>
	
	<select id="selectDB" resultType="memberdto">
		SELECT * FROM MEMBER210521 ORDER BY MID ASC
	</select>
	
	<select id="memberview" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBER210521 WHERE MID=#{mId}
	</select>
	
 </mapper>
 